<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navigation.html :: head">
</head>

<body>

<nav th:replace="fragments/navigation.html :: navigation">
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/post}" method="post" th:object="${post}" enctype="multipart/form-data">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>Text</label>
                    <textarea class="form-control" id="head" th:field="*{head}" placeholder="Enter text"></textarea>
                    <p class="text-danger" th:if="${#fields.hasErrors('head')}" th:errors="*{head}"></p>
                </div>
                <div class="form-group">
                    <label>Add images</label>
                    <input type="file" class="form-control" id="newPicture" th:field="*{newPicture}"
                           placeholder="New images" multiple>
                </div>
                <button type="submit" class="btn btn-primary">Sent</button>
            </form>
        </div>

        <div class="container-fluid mt-4">
            <div class="card-columns" style="column-count: 5">
                <div class="card" th:each="picId : ${post.pictures}">
                    <img class="card-img-bottom" th:src="@{/picture/{pictureId}(pictureId=${picId})}" width="40%"/>
                </div>
            </div>
        </div>

    </div>
</div>


<th:block th:replace="fragments/scripts.html :: scripts">
</th:block>

</body>

</html>
