<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Autorisation</title>
    <meta name="keywords" content="free css templates, tripod, blog, theme" />
    <meta name="description" content="Tripod - free CSS template provided by templatemo.com" />
    <link href="temp_style.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="temp_header_wrapper">

    <div id="temp_header">

        <div id="site_title">
            <h1><a href="index.html">
                <img src="images/logo.png" alt="tripod blog" /></a>
                <span>GB Social Network</span>
            </h1>
        </div>
    </div> <!-- end of header -->
</div> <!-- end of header wrapper -->

<div id="sidebar">
    <div id="login" class="boxed">
        <div class="title">
            <h3>Client Account</h3>
        </div>
        <div class="content">
            <form id="form1" method="post" action="/login">
                <fieldset>
                    <legend>Sign-In</legend>
                    <label for="log">Login:</label>
                    <input id="log" name="login" type="text" placeholder="Login" />
                    <label for="pass">Password:</label>
                    <input id="pass" name="pass" type="password" placeholder="Password"/>
                    <input id="inputsubmit1" type="submit" name="inputsubmit1" value="Sign In" />
                </fieldset>
            </form>
        </div>
    </div>

</div>

</body>
</html>